<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles.css" rel="stylesheet" />
    <title>HomePage</title>
  </head>
  <body>
    <header>
      <a href="/concerts">Browse Concerts</a>
      <% if (user) { %>
        <a href="/reservations">My Reservations</a>
      <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      <% } %>
    </header>
    <h1 class="text-red-500 font-bold text-2xl">Home</h1>
  </body>
</html>
